{% extends 'client_base.html' %}

{% block title %}DB 구매하기{% endblock %}

{% block userpanel %}
<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="image">
    <img src="../static/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
  </div>
  <div class="info">
    <a href="#" class="d-block">{{ user }}</a>
  </div>
</div>
<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3">
  {% if user == 'GUEST' %}
  <a href="/login" target="" class="btn btn-block btn-primary">
    <i class="fas fa-sign-in-alt"></i> LOGIN
  </a>
  {% else %}
  <a href="/logout" target="" class="btn btn-block btn-primary">
    <i class="fas fa-sign-out-alt"></i> LOGOUT
  </a>
  {% endif %}
</div>
{% endblock %}

{% block nav_item %}
<li class="nav-item">
  <a href="/" class="nav-link active">
    <i class="nav-icon far fa-circle text-info"></i>
    <p>DB 구매하기</p>
  </a>
</li>
<li class="nav-item">
  <a href="/history" class="nav-link">
    <i class="nav-icon far fa-circle text-info"></i>
    <p>DB 구매내역</p>
  </a>
</li>
<li class="nav-item">
  <a href="/mydb" class="nav-link">
    <i class="nav-icon far fa-circle text-info"></i>
    <p>내 고객 정보</p>
  </a>
</li>
{% endblock %}

{% block section %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">


    <div class="row">
      {% for Product in ProductList %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-text-width"></i>
              {{Product.Name}}
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <img src="../static/img/재무설계.png" class="img-fluid" alt="Paris" width="600" height="300">
            <ul>
              <li>{{Product.ShortDesc}}</li>
            </ul>
            <button type="button" class="btn btn-block btn-primary" data-toggle="modal"
              data-target="#modal{{loop.index}}">구매하기</button>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- ./col -->
      {% endfor %}
    </div>
    <!-- /.row -->
    {% for Product in ProductList %}
    {% set outer_loop = loop %}
    <div class="modal fade" id="modal{{loop.index}}">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="ProductName{{loop.index}}">{{Product.Name}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <nav class="w-100">
                <div class="nav nav-tabs " id="product-tab" role="tablist">
                  <a class="nav-item nav-link" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab"
                    aria-controls="product-desc" aria-selected="true">상품설명</a>
                  <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments"
                    role="tab" aria-controls="product-comments" aria-selected="false">A/S
                    정책</a>
                  <a class="nav-item nav-link active" id="product-rating-tab" data-toggle="tab" href="#product-rating"
                    role="tab" aria-controls="product-rating" aria-selected="false">구매하기</a>
                </div>
              </nav>
              <div class="tab-content p-3 table-responsive" id="nav-tabContent">
                <div class="tab-pane table-responsive p-0" id="product-desc" role="tabpanel"
                  aria-labelledby="product-desc-tab">{{Product.LongDesc}}
                </div>
                <div class="tab-pane table-responsive p-0" id="product-comments" role="tabpanel"
                  aria-labelledby="product-comments-tab"> Vivamus rhoncus nisl sed venenatis luctus. Sed
                  condimentum risus ut tortor feugiat laoreet. Suspendisse potenti. Donec et finibus sem, ut
                  commodo lectus. Cras eget neque dignissim, placerat orci interdum, venenatis odio. Nulla turpis
                  elit, consequat eu eros ac, consectetur fringilla urna. Duis gravida ex pulvinar mauris ornare,
                  eget porttitor enim vulputate. Mauris hendrerit, massa nec aliquam cursus, ex elit euismod
                  lorem, vehicula rhoncus nisl dui sit amet eros. Nulla turpis lorem, dignissim a sapien eget,
                  ultrices venenatis dolor. Curabitur vel turpis at magna elementum hendrerit vel id dui.
                  Curabitur a ex ullamcorper, ornare velit vel, tincidunt ipsum. </div>
                <div class="tab-pane table-responsive p-0 fade show active" id="product-rating" role="tabpanel"
                  aria-labelledby="product-rating-tab">
                  <div class="col-12">
                    <h5>구매 하기</h5>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>구매항목</th>
                          <th>수량</th>
                          <th>단가</th>
                          <th>총액</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for Option in Product.Option %}
                        <tr>
                          <td>{{loop.index}}</td>
                          <td class='option{{outer_loop.index}}'>{{Product.Option[loop.index0]}}</td>
                          <td style="width: 150px"><input id="amount{{outer_loop.index}}_{{loop.index}}"
                              class="form-control form-control-sm amount{{outer_loop.index}}" value="0" type="text">
                          </td>
                          <td>{{Product.Price[loop.index0]}}</td>
                          <td id="price{{outer_loop.index}}_{{loop.index}}" class="price{{outer_loop.index}}">
                            {{Product.Price[loop.index0]}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class='text-right'>
                      <h5><small>총 결제 금액 : </small><b id="total{{loop.index}}">120,000</b></h5>
                    </div>
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-secondary active">
                        <input type="radio" onclick="alert('구매합니다.');buyingButton('{{loop.index}}');" name="options"
                          id="buy_button" autocomplete="off" data-dismiss="modal" checked>구매하기
                      </label>
                    </div>
                    <br>
                    <br>
                    <h5>입금 계좌</h5>
                    <div class="card">
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <thead>
                            <tr>
                              <th>은행명</th>
                              <th>계좌번호</th>
                              <th>예금주</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>국민은행</td>
                              <td>121802-04-223825</td>
                              <td>김동현</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <li class="p-1">입금 후 6시간 내에 확인해드립니다.</li>
                  <li class="p-1">사용자명과 입금자명이 동일해야 입금처리가 됩니다.</li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    {% endfor %}

  </div><!-- /.container-fluid -->

</section>
<!-- /.content -->
{% endblock %}

{% block script %}
<script>
  {% for Product in ProductList %}
  {% set outer_loop = loop %}
  {% for Price in Product.Price %}
  $("#amount{{outer_loop.index}}_{{loop.index}}").bind("change paste keyup", function () {
    $("#price{{outer_loop.index}}_{{loop.index}}").html(numberWithCommas($("#amount{{outer_loop.index}}_{{loop.index}}").val() * {{ Price }}));
  var total_sum = 0;
  $(".price{{outer_loop.index}}").each(function (index, element) {
    total_sum += parseInt($(this)[0].innerText.replace(/\,/g, ""));
  });
  $("#total{{outer_loop.index}}").html(numberWithCommas(total_sum));
  });

  $("#price{{outer_loop.index}}_{{loop.index}}").html(numberWithCommas($("#amount{{outer_loop.index}}_{{loop.index}}").val() * {{ Price }}));
  var total_sum = 0;
  $(".price{{outer_loop.index}}").each(function (index, element) {
    total_sum += parseInt($(this)[0].innerText.replace(/\,/g, ""));
  });
  $("#total{{outer_loop.index}}").html(numberWithCommas(total_sum));

  {% endfor %}
  {% endfor %}

  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  function buyingButton(Index) {
    ProductName = $('#ProductName' + Index).html();
    Amount = $('.amount' + Index)
    Price = $('.price' + Index)
    Option = $('.option' + Index)
    Amounts = [];
    Prices = [];
    Options = [];
    for (var i = 0; i < Amount.length; i++) {
      Options.push(Option[i].innerHTML);
      Amounts.push(Amount[i].value);
      Prices.push(Price[i].innerHTML);
    }
    var order = { Name: ProductName, Options: Options, Amounts: Amounts, Prices: Prices };
    $.ajax({
      type: "POST",
      url: "http://127.0.0.1/restAPI/insertOrder",
      data: JSON.stringify(order),
      contentType: "application/json",
    });
  }


</script>
{% endblock %}