{% extends 'base.html' %}

{% block title %}DB 구매내역{% endblock %}

{% block userpanel %}
<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="image">
    <img src="../static/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
  </div>
  <div class="info">
    <a href="#" class="d-block">{{ user }}</a>
  </div>
</div>
<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3">
  {% if user == 'GUEST' %}
  <a href="/login" target="" class="btn btn-block btn-primary">
    <i class="fas fa-sign-in-alt"></i> LOGIN
  </a>
  {% else %}
  <a href="/logout" target="" class="btn btn-block btn-primary">
    <i class="fas fa-sign-out-alt"></i> LOGOUT
  </a>
  {% endif %}
</div>
{% endblock %}

{% block nav_item %}
<li class="nav-item">
  <a href="/" class="nav-link">
    <i class="nav-icon far fa-circle text-info"></i>
    <p>DB 구매하기</p>
  </a>
</li>
<li class="nav-item">
  <a href="/history" class="nav-link">
    <i class="nav-icon far fa-circle text-info"></i>
    <p>DB 구매내역</p>
  </a>
</li>
<li class="nav-item">
  <a href="/mydb" class="nav-link">
    <i class="nav-icon far fa-circle text-info"></i>
    <p>내 고객 정보</p>
  </a>
</li>

{% endblock %}

{% block section %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>구매날짜</th>
                  <th>상품명</th>
                  <th>수량</th>
                  <th>지역</th>
                  <th>기능</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2020. 06. 03.</td>
                  <td>산모 DB 퍼미션</td>
                  <td style="width:200px;">3</td>
                  <td>대전</td>
                  <td style="width:200px;" class='p-1'>
                    <button type="button" class="btn btn-default">상세보기</button>
                    <button type="button" class="btn btn-danger">환불받기</button>
                  </td>
                </tr>
                <tr>
                  <td>2020. 06. 03.</td>
                  <td>산모 DB 퍼미션</td>
                  <td style="width:200px;">3</td>
                  <td>대전</td>
                  <td style="width:200px;" class='p-1'>
                    <button type="button" class="btn btn-default">상세보기</button>
                    <button type="button" class="btn btn-danger">환불받기</button>
                  </td>
                </tr>
                <tr>
                  <td>2020. 06. 03.</td>
                  <td>산모 DB 퍼미션</td>
                  <td style="width:200px;">3</td>
                  <td>대전</td>
                  <td style="width:200px;" class='p-1'>
                    <button type="button" class="btn btn-default">상세보기</button>
                    <button type="button" class="btn btn-danger">환불받기</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}

{% block script %}
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}
